
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>接口测试平台Test</title>
</head>

<body style="background:linear-gradient(to bottom,black,white,teal,black) ">

    <h1 style="color: #158172;text-align: center">欢迎访问帮助页面</h1>

    <input type="text" placeholder="请在此输入手机号" style="width: 500px;height: 50px;
                                            font-size: xx-large;color: white;
                                            background-color: black;
                                            border-radius: 10px;
                                            box-shadow: 0px 0px 30px #f71600;
                                            opacity: 1;margin: 50px;padding: 10px">

    <button onclick="alert('好的你点我了！！！')">点我</button>

    <select name="" id="">
        <option value="">1</option>
         <option value="">2</option>
        <option value="">3</option>
         <option value="">4</option>
    </select>

    <input type="radio" name="rrrr">
    <input type="radio" name="rrrr">
    <input type="radio" name="rrrr">

    <br><br>


    <input type="checkbox" name="rrr">
     <input type="checkbox" name="rrr">
     <input type="checkbox" name="rrr">




</body>


</html>